<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
	<title></title>
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" />
	<link rel="stylesheet" href="/assets/css/slick.css" />
	<link rel="stylesheet" href="/assets/css/slick-theme.css" />
	<link rel="stylesheet" href="/assets/css/particlesjs.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/sp/style.css" />
</head>
<body>
<div id="Wrapper">
<header id="Header">
	<h1 class="move" data-move="0"><div class="logo change"><span>HUBANICE</div></h1>
	<div class="menus">
		<ul>
			<li class="move change" data-move="0">Home</li>
			<li class="move change" data-move="1">About</li>
			<li class="move change" data-move="2">Global</li>
			<li class="move change" data-move="4">What we do</li>
			<li class="move change" data-move="5">Alliance Partner</li>
			<li class="move change" data-move="6">Company</li>
			<li class="move change" data-move="7">Contact</li>
		</ul>
	</div>
	<span class="menu sp">
		<span class="change"></span>
		<span class="change"></span>
		<span class="change"></span>
	</span>
</header>
<main id="Main">
	<div id="particles-js"></div>
	<div class="count-particles">
		<span class="js-count-particles">--</span> particles
	</div>
	<div class="backgrounds sp">
		<div class="background8" data-index="8"></div>
		<div class="background7" data-index="7"></div>
		<div class="background6" data-index="6"></div>
		<div class="background5" data-index="5"></div>
		<div class="background3" data-index="3"></div>
		<div class="background2" data-index="2"></div>
		<div class="background1" data-index="1"></div>
	</div>
	<section class="scene scene1">
		<div class="backgrounds pc">
			<div class="background2"></div>
			<div class="background1"></div>
		</div>

		<div class="wrapper">
			<div class="first">
				<div class="svg pc"></div>
				<div class="svg sp"></div>
			</div>
			<div class="second">
				<h2>
					Connect all<br>
					services
				</h2>
				<p>
					あらゆるサービスの架け橋を創造する。<br>
					わたしたちは、ハブアナイス株式会社です。
				</p>
			</div>
		</div>
		<div class="scroll">SCROLL</div>
	</section>

	<section class="scene scene2">
		<div class="wrapper">
			<div class="box pc">
				<div class="svg pc"></div>
			</div>
			<div class="box">
				<h2>About</h2>
				<div class="svg sp"></div>
				<p>
					わたしたちは様々なサービス、テクノロジー、プロダクトを繋ぐ橋渡しをする会社です。
					日本だけではなく世界を視野に情報収取・発信をいたします。
				</p>
				<p>
					それがわたしたち<strong>ハブアナイス株式会社</strong>です。
				</p>
				<p>
					社名にはハブ空港のように様々なものの中心になり、
					弊社から世界に向けて様ざまなサービス・情報を発信展開していく
					という意味が込められています。
				</p>
			</div>
		</div>
	</section>

	<section class="scene scene3">
		<div class="wrapper">
			<div class="world">
				<div class="headline">
					<h2>Global</h2>
					<p>
						世界中のパートナーが<br>
						ビジネス成功の近道をご提案いたします
					</p>
				</div>
				<dl class="osaka">
					<dd class="image"><img src="/assets/img/flag_japan.png"></dd>
					<dt>JAPAN</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/japan"); %>">MORE</a></dd>
				</dl>
				<dl class="seoul">
					<dd class="image"><img src="/assets/img/flag_korea.png"></dd>
					<dt>SOUTH KOREA<br>SEOUL</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/seoul"); %>">MORE</a></dd>
				</dl>
				<dl class="sv">
					<dd class="image"><img src="/assets/img/flag_usa.png"></dd>
					<dt>SILICON VALLEY</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/sv"); %>">MORE</a></dd>
				</dl>
				<!--
				<dl class="hawaii">
					<dd class="image"><img src="/assets/img/flag_usa.png"></dd>
					<dt>HAWAII</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/hawaii"); %>">MORE</a></dd>
				</dl>
				-->
				<dl class="belrin">
					<dd class="image"><img src="/assets/img/flag_germany.png"></dd>
					<dt>BELRIN</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/belrin"); %>">MORE</a></dd>
				</dl>
				<dl class="manira">
					<dd class="image"><img src="/assets/img/flag_philippines.png"></dd>
					<dt>MANILA</dt>
					<dd class="more"><a class="modal open extend" href="javascript:;" data-template="<%= include("./_popup/manira"); %>">MORE</a></dd>
				</dl>
			</div>
			<div class="chart">
				<div class="svg sp"></div>
			</div>
		</div>
	</section>

	<section class="scene scene4 pc">
		<div class="wrapper">
			<div class="world">
				<div class="svg pc"></div>
			</div>
		</div>
	</section>

	<section class="scene scene5">
		<div class="wrapper">
			<div class="box">
				<div class="wrapper">
					<div class="headline">
						<h2>
							What<br class="pc">
							we do
						</h2>
						<div class="number pc">
							<div class="current">-</div>
							<div>/</div>
							<div class="total">-</div>
						</div>
					</div>
					<p>
						わたしたちは「常に新しい」を理念とし、既存のサービスを提供するのではなく、だれもが未だかつて見たことがないものを創造し提供いたします。<br>
						右記の多岐にわたる事業を橋渡し、プランニングすることによりそれを実現いたします。
					</p>
					<ul class="move pc">
						<li class="prev">＜</li>
						<li class="next">＞</li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="slider">
					<dl>
						<dd class="image"><img src="/assets/img/photo_slider1.jpg"></dd>
						<dt>石油関連事業</dt>
						<dd>ガソリンスタンドの運営や、陸上燃料や船舶燃料などの石油製品の販売</dd>
					</dl>

					<dl>
						<dd class="image"><img src="/assets/img/photo_slider2.jpg"></dd>
						<dt>アパレル関連事業</dt>
						<dd>アパレルブランドやECサイトの運営、海外ファッションブランド製品の貿易、販売</dd>
					</dl>

					<dl>
						<dd class="image"><img src="/assets/img/photo_slider3.jpg"></dd>
						<dt>リアルエステート関連事業</dt>
						<dd>国内外で不動産物件の開発や取引、サービスの提供</dd>
					</dl>
					
					<dl>
						<dd class="image"><img src="/assets/img/photo_slider4.jpg"></dd>
						<dt>プロダクト関連事業</dt>
						<dd>スピーカー製品などのハードウェアの輸入、販売</dd>
					</dl>
					<dl>
						<dd class="image"><img src="/assets/img/photo_slider5.jpg"></dd>
						<dt>美容関連事業</dt>
						<dd>医薬部外品の企画、製造、販売、製造販売</dd>
					</dl>
					<dl>
						<dd class="image"><img src="/assets/img/photo_slider6.jpg"></dd>
						<dt>投資関連事業</dt>
						<dd>世界全国のあらゆる業界の企業や事業への投資、提携/dd>
					</dl>
					<dl>
						<dd class="image"><img src="/assets/img/photo_slider7.jpg"></dd>
						<dt>飲食関連事業</dt>
						<dd>国内外のレストラン、カフェとの提携、サービスの提供</dd>
					</dl>
				</div>
				
				<div class="control sp">
					<ul class="move">
						<li class="prev">＜</li>
						<li class="next">＞</li>
					</ul>
					<div class="number">
						<div class="current">-</div>
						<div>/</div>
						<div class="total">-</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="scene scene6">
		<div class="wrapper">
			<h2>Alliance <br class="sp">Partner</h2>
			<ul>
				<%

					var partners	=	[
						['CEO','H-Tetsuji','','japan'],
						['Executive Assistant','N-Hisami','','japan'],
						['Chief Director','K-Mina','アパレル関連事業','japan'],
						['Designer','T-Goo','アパレル関連事業','korea'],
						['Designer','B-Lee','アパレル関連事業','korea'],
						['Director/Marketing','K-Boram','アパレル関連事業','korea'],
						['Sales Rep','N-Tomoyuki','アパレル関連事業','japan'],
						['Showroom/media','T-Takayuki','アパレル関連事業','japan'],
						['Production Control','A-Kenji','アパレル関連事業','japan'],
						['Video','N-Daiki','アパレル関連事業','japan'],
						['Photographer','N-Joe','アパレル関連事業','korea'],
						['Hair Make Up','S-Youn','アパレル関連事業','korea'],
						['Marketing','C-Seungwoo','アパレル関連事業','japan'],
						['Marketing','Ann','アパレル関連事業','japan'],
						['Chief Director','M-Kazuki','プロダクト関連事業','japan'],
						['Managing Director','T-Makoto','プロダクト関連事業','germany'],
						['Funder','W-Sophie','プロダクト関連事業','germany'],
						['Funder','M-Stefan','プロダクト関連事業','japan'],
						['Finance','B-Larissa','プロダクト関連事業','germany'],
						['Interpreter','K-Toyoko','プロダクト関連事業','germany'],
						['Chief Director','H-Wataru','美容関連事業','japan'],
						['Editor','M-Keiko','美容関連事業','japan'],
						['Editor','S-Jiro','美容関連事業','japan'],
						['PR','H-Tae','美容関連事業','japan'],
						['OEM','T-Shinya','美容関連事業','japan'],
						['Management','H-Madori','リアルエステート関連事業','philippines'],
						['CENTURY','P-Rizaldy','リアルエステート関連事業','philippines'],
						['CENTURY','R-Rod','リアルエステート関連事業','philippines'],
						['CENTURY','D-Veia','リアルエステート関連事業','philippines'],
						['MSC','K-Shuichi','リアルエステート関連事業','philippines'],
						['Management','F-Luis','その他関連事業','usa'],
						['Funder','W-Lee','その他関連事業','usa'],
					];
				%>
				<% partners.forEach(function (partner) { %>

				<li>
					<div class="image"><img src="/assets/img/flag_<%= partner[3] %>.png"></div>
					<dl>
						<dt><%= partner[0] %></dt>
						<dd>
							<%= partner[1] %><br class="pc">
							<%= partner[2] %>
						</dd>
					</dl>
				</li>

				<% }); %>
				<li></li>
				<li></li>

			</ul>
		</div>
	</section>
	<section class="scene scene7">
		<div class="wrapper">
			<h2 class="sp">Company</h2>
			<div class="box">
				<h2 class="pc">Company</h2>
				<ul>
					<li>
						<dl>
							<dt>会社名</dt>
							<dd>
								ハブアナイス株式会社<br>
								Hub A Nice , Inc.
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>代表</dt>
							<dd>
								TETSUJI HASHIMOTO
							</dd>
						</dl>
					</li>
					
					<li>
						<dl>
							<dt>所在地</dt>
							<dd>
								〒550-0002<br>
								大阪市西区江戸堀1-18-11 （小谷ビル6F）
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Tel</dt>
							<dd>
								06-6441-7971
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>FAX</dt>
							<dd>
								06-6441-7974
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>E-MAIL</dt>
							<dd>
								<a class="mail" href="mailto:info@hubanice.com">info@hubanice.com</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="box">
				<dl class="chart">
					<dt>竹鶴ホールディングス</dt>
					<dd>
						<ul>
							<li>竹鶴油業</li>
							<li>明治石油</li>
							<li>大佑海運</li>
							<li>ハブアナイス</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</section>
	<section class="scene scene8">
		<div class="wrapper">
			<h2>Contact</h2>
			<script src="https://sdk.form.run/js/v2/embed.js"></script>
			<div
				class="form formrun-embed"
				data-formrun-form="@hubanice"
				data-formrun-redirect="true">
			</div>
			
			<footer>
				<div class="logo"><img src="/assets/img/logo_footer.png"></div>
				<small>All content © Hub A Nice Inc., 2019. <br class="sp">All rights reserved.</small>
			</footer>
		</div>
	</section>
</main>
</div>

<%- include("./_include/modal"); %>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/scrollify.js"></script>
<script src="/assets/js/lottie.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/script.js"></script>

<script src="/assets/js/stats.js"></script>
<script src="/assets/js/particles.js"></script>
<script src="/assets/js/particlesjs.js"></script>

</body>
</html>
